.Navbar{
display: flex;
justify-content: center;
}

.Navbar h5{
    padding: 10px;
    text-decoration: none;
    color: #65727c;
    font-size: x-large;
}

.Link{
    text-decoration: none;
    color:#65727c;
}

.Container{
    margin-bottom: 20px;
     width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

@media(max-width: 435px){
    .Navbar{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}